*{
  padding: 0;
  margin:0; 
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.container{
  margin: 20px auto;
  width: 1000px;
}
.drapdown{
  text-align: center;
  width: 250px;
}
.drapdown .cstate{
  font-size: 16px;
  line-height: 35px;
  border: 1px solid #000;
  cursor:pointer;
}
.drapdown ul{
  padding: 15px 0;
  border: 1px solid #0088cc;
  display: none;
}
.drapdown ul li{
  position: relative;
}
.drapdown ul li .tooltip{
  position: absolute;
  display: none;
  width: 200px;
  font-size: 14px;
  padding: 15px;
  background: #333;
  color: #fff;
  border-radius: 5px;
  right: -180px;
  top: -10px;
  transition: right;
}
.drapdown ul li a{
  font-size: 14px;
  color: #333;
  line-height: 26px;
}
.drapdown ul li.active .tooltip{
  right: -170px;
}